<!DOCTYPE html>
<html>
	<head>
		<title>Literary</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<div class="ui inverted menu" id="menu">
			<div class="ui container">
				<a href="/" class="header item">Literary</a>
				<a href="/pieces" class="item">Literature</a>
				<div class="right menu">
					<% if(!user) { %>
						<a href="/login" class="item">Sign In</a>
						<a href="/register" class="item">Register</a>
					<% } else { %>
						<a href="/logout" class="item">Logout</a>
					<% } %>
				</div>
			</div>
		</div>
		<% if(error.length > 0) { %>
			<div class="ui negative message"><%= error %></div>
		<% } %>
		<% if(success.length > 0) { %>
			<div class="ui positive message"><%= success %></div>
		<% } %>