<%- include("./partials/header") %>

<div id="mainContainer" class="ui container">
	<form id="userForm" class="ui form" action="/login" method="POST">
		<h1 class="ui center aligned header">Login</h1>
		<div class="field">
			<label for="username">Username</label>
			<input id="username" type="text" placeholder="Username" name="username">
		</div>
		<div class="field">
			<label for="password">Password</label>
			<input id="password" type="password" placeholder="Password" name="password">
		</div>
		<button class="ui primary button">Submit</button>
	</form>
</div>

<%- include("./partials/footer") %>