<%- include("./partials/header") %>

<div id="mainContainer" class="ui container">
	<h1 id="matchless">The thing you're looking for is either missing or has been deleted.</h1>
</div>

<%- include("./partials/footer") %>