/* General */

#left, #right {
	margin: 0;
	position: absolute;
	text-align: center;
	width: 50%;
}

/* Left Side */

#left {
	background-color: black;
	color: white;
	padding-top: 35vh;
}

#left h1 {
	font-size: 90px;
}

#left h3 {
	font-size: 30px;
}

#left .link.button {
	background-color: white;
	color: black;
}

/* Right Side */

#right {
	padding-top: 20vh;
	background-color: white;
}

#right h2 {
	font-size: 35px;
}

#right p {
	font-size: 22px;
}

#right .slides {
	display: none;
}

#right .ui-effects-placeholder {
	display: none !important;
}

/* Responsive Styles */

@media only screen and (min-width: 993px) {
	#left, #right {
		height: 100vh;
	}

	#right {
		right: 0;
	}
}

@media only screen and (max-width: 1300px) {
	#right img {
		width: 350px;
	}
}

@media only screen and (max-width: 992px) {
	#left, 
	#right {
		position: static;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
		padding: 5% 0;
		height: 50vh;
		width: 100%;
	}
	#right img {
		width: 400px;
	}
	#right .button {
		margin-bottom: 5%;
	}
}
