.ui.inverted.menu {
	margin: 0;
}

.item {
	font-size: 1.25rem;
}

.ui.message {
	margin: 0;
	text-align: center;
}

.ui.massive.message {
	margin: 0;
	padding: 100px 25%;
}

.ui.card {
	width: 30%;
}

#formTitle {
	text-align: center;
}

#formBody {
	width: 60%;
	margin: 30px auto;
}