/* Shared Classes */

#tagField,
#history .content {
	align-items: center;
}

#bottomBar,
#topBar,
#topBar .ui.label {
	background-color: darkgray;
}

#pagination,
#tagField,
#history .content {
	display: flex;
}

.editForm,
#avatarForm,
#bottomBar,
#topBar,
#bottomBar .fas {
	display: none;
}

#topBar .ui.label,
#tagField .tag {
	font-size: 14px;
}

#tagField,
#history .content {
	flex-wrap: wrap;
}

.ui.message, 
.ui.massive.message,
#avatarButton,
#menu,
#show h1 {
	margin: 0;
}

.textBody,
#mainContainer,
#matchless,
#pagination,
#searchBar {
	margin-top: 50px;
}

#commentSection,
#history {
	margin-top: 100px;
}

#bottomBar,
#topBar,
#bottomBar .fa-heart,
#bottomBar .fa-thumbs-up {
	position: absolute;
}

#bottomBar .fa-thumbs-up,
#bottomBar .fa-heart {
	bottom: 5px;
}

.ui.message,
#authMessage,
#matchless,
#searchBar {
	text-align: center;
}

#userForm,
#searchBar .icon.input,
#tagField #tags {
	width: 35%;
}

.meta,
#avatarButton,
#topBar,
#bottomBar,
#tagField label,
#gallery .ui.card,
#history .header {
	width: 100%;
}

/* General */

.textBody {
	font-size: 20px;
	white-space: pre-line;
}

.meta {
	margin: 5px 0 10px 0;
}

.ui.button {
	margin: 10px 0;
}

#pagination {
	justify-content: center;
}

#pagination .ui.pagination.menu {
	padding: 0;
}

/* Header */

#menu .item {
	font-size: 1.25rem;
}

/* Pieces Index */

.ui.massive.message {
	padding: 100px 20%;
}

#gallery {
	margin-top: 20px;
}

#gallery .ui.card {
	margin: 1.6%;
	padding: 14px 0;
}

#topBar {
	height: 32px;
	top: 0px;
}

#bottomBar {
	font-size: 30px;
	height: 40px;
	bottom: 0px;
}

#bottomBar .fa-thumbs-up {
	color: steelblue;
	right: 15px;
}

#bottomBar .fa-heart {
	color: indianRed;
	left: 15px;
}

@media only screen and (max-width: 992px) {
	.ui.massive.message {
		padding: 50px 8%;
	}
}
	
/* Forms */

#userForm {
	margin: 120px auto;
}

#textForm {
	margin: 50px auto;
	width: 85%;
}

#textForm .typeOption {
	margin-right: 30px;
}

#tagField .tag {
	background-color: lightgray;
	margin-right: 10px;
	padding: 5px 10px;
}

/* Piece Show */

#show img {
	margin: 30px auto;
}

#ownerButtons {
	text-align: right;
}

#deleteForm {
	display: inline;
}

#commentSection {
	font-size: 18px;
}

#authMessage {
	background-color: whiteSmoke;
	line-height: 100px;
}

#authMessage a {
	color: #0066CC;
}

/* Profile */

#userInfo {
	margin: 40px auto;
	font-size: 20px;
}

#avatarForm {
	border: 1px solid steelblue;
}

#history .content {
	align-content: center;
}

/* Toggled Classes */

.shaded {
	background: linear-gradient(180deg, rgba(128, 128, 128, 0.05) 20%, rgba(128, 128, 128, 0.4) 90%) !important;
}

.like {
	color: green !important;
	display: inline !important;
}

.save {
	color: red !important;
	display: inline !important;
}