/* Header */
.ui.inverted.menu {
	margin: 0;
}

.item {
	font-size: 1.25rem;
}

.ui.message {
	margin: 0;
	text-align: center;
}

#mainContainer {
	margin-top: 20px;
}

/* Pieces Index */

.ui.massive.message {
	margin: 0;
	padding: 100px 25%;
}

#gallery {
	margin-top: 20px;
	height: 1500px;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
}

#gallery .ui.card {
	display: table;
	margin: 1.6%;
	width: 30%;
}

/* Forms */

#formTitle {
	text-align: center;
}

#formBody {
	width: 60%;
	margin: 30px auto;
}