<%- include("../partials/header") %>

<div id="mainContainer" class="ui container">
	<form id="textForm" class="ui form" action="/pieces" method="POST">
		<h1 class="ui center aligned header">Add a New Piece</h1>
		<!-- Basic Text Fields -->
		<div class="field">
			<label for="title">Title</label>
			<input id="title" type="text" placeholder="Title" name="piece[title]" maxlength="30" required>
		</div>
		<div class="field">
			<label for="body">Body</label>
			<textarea id="body" placeholder="Type your piece here..." name="piece[body]" required></textarea>
		</div>
		<div class="field">
			<label for="image">Image (optional)</label>
			<input type="text" placeholder="Image URL" name="piece[image]" id="image">
		</div>
		<!-- Radio Button Type Field -->
		<div class="field">
			<p><strong>Type</strong></p>
			<span class="typeOption">
				<input type="radio" value="story" name="piece[type]" id="story" required>
				<label for="story"><strong>Story</strong></label>
			</span>
			<span class="typeOption">
				<input type="radio" name="piece[type]" value="poem" id="poem">
				<label for="poem"><strong>Poem</strong></label>
			</span>
			<span class="typeOption">
				<input type="radio" name="piece[type]" value="article" id="article">
				<label for="article"><strong>Article</strong></label>
			</span>
			<span class="typeOption">
				<input type="radio" name="piece[type]" value="message" id="message">
				<label for="message"><strong>Message</strong></label>
			</span>
			<span class="typeOption">
				<input type="radio" name="piece[type]" value="dialogue" id="dialogue">
				<label for="dialogue"><strong>Dialogue</strong></label>
			</span>
			<span class="typeOption">
				<input type="radio" name="piece[type]" value="other" id="other">
				<label for="other"><strong>Other</strong></label>
			</span>
		</div>
		<!-- Tag Field -->
		<div class="field" id="tagField">
			<label for="tags">Additional Tags</label>
			<input id="tags" type="text" placeholder="Tags" name="piece[tags]">
		</div>
		<input id="submitTags" type="hidden" name="tags">
		<button class="ui primary button">Submit</button>
	</form>
</div>

<%- include("../partials/footer") %>